name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Swift Test
        run: swift test
